{% extends '../base.twig' %}
{% block stylesheetCustom %}
<link rel="stylesheet" href="/css/rangeslider.css"/>
{% endblock %}
{% block body %}

<main class="background ctn-general">
    {% block header %}
    {% include '../layout/header.twig' %}
    {% endblock %}
    <form class="ctn-contenu" method="post" action="/inscription" style="color:white;">
        <section id="part1">
            <h2 class="text-center">VOTRE PROFIL</h2>
            <div class="fbCustom-input mb-2">
                <input class="input-field" id="lastname" type="text" name="lastname" placeholder="nom" required>
                <label class="input-label" for="lastname">Nom</label>
            </div>
            <div class="fbCustom-input mb-2">
                <input class="input-field" id="firstname" type="text" name="firstname" placeholder="prénom"
                       required>
                <label class="input-label" for="firstname">Prénom</label>
            </div>
            <div class="fbCustom-input mb-2">
                <input class="input-field" id="pseudo" type="text" name="username" placeholder="pseudo" required>
                <label class="input-label" for="pseudo">Pseudo</label>
            </div>
            <div class="fbCustom-input mb-2">
                <input class="input-field" id="birthday" type="date" name="birthday" placeholder="date de naissance"
                       required>
                <label class="input-label" for="birthday">Date de naissance</label>
            </div>
            <div class="fbCustom-input mb-2">
                <input class="input-field" id="email" type="text" name="email" placeholder="email" required>
                <label class="input-label" for="email">E-mail</label>
            </div>
            <div class="fbCustom-input mb-2">
                <input class="input-field" id="password1" type="password" name="password1"
                       placeholder="mot de passe" required>
                <label class="input-label" for="password1">Mot de passe</label>
            </div>
            <div class="fbCustom-input mb-2">
                <input class="input-field" id="password2" type="password" name="password2"
                       placeholder="confirmation de mot de passe" required>
                <label class="input-label" for="password2">Confirmation de mot de passe</label>
            </div>
            <button class="w-25 fbCustom-button fbCustom-button--filled" type="button">SUIVANT</button>
        </section>
        <section id="part2" class="d-none">
            <h2 class="text-center">VOS MENSURATIONS</h2>
            <div class="first_div d-flex">
                <label class="d-none">taille</label>
                <input name="height" type="range" min="120" max="220" step="1" value="170" data-orientation="vertical" required>
                <img class="m-auto" src="/img/body.svg" alt="body"/>
            </div>
            <label class="d-none">poid</label>
            <input name="weight" type="range" min="30" max="200" step="1" value="80" data-orientation="horizontal"
                   required>
            <button class="w-25 fbCustom-button fbCustom-button--filled mt-4" type="button">SUIVANT</button>
        </section>
        <section id="part3" class="d-none">
            <article class="d-inline-flex flex-wrap">
                {% for sport in sports %}
                <div>
                    <input id="{{ sport.name }}" type="checkbox" value="{{ sport.id }}" name="sport">
                    <label for="{{ sport.name }}"><img src="{{ sport.picto_path }}">{{ sport.name }}</label>
                </div>
                {% endfor %}
            </article>
            <button class="w-25 fbCustom-button fbCustom-button--filled mt-4" type="button">SUIVANT</button>
        </section>
        <section id="part4" class="d-none">
            <h2 class="text-center">COMBIEN DE FOIS PAR SEMAINE ?</h2>
            <input name="frequencies" class="mod" type="number" min="0" max="7" value="0"><label>Frequence</label>
            <button class="w-25 fbCustom-button fbCustom-button--filled mt-4" type="button">SUIVANT</button>
        </section>
        <section id="part5" class="d-none">
            <h2 class="text-center">VOS OBJECTIFS</h2>
            {% for objectif in objectifs %}
            <div>
                <input type="radio" value="{{ objectif.id }}" id="{{ objectif.title }}" name="objectif">
                <label for="{{ objectif.title }}" class="text-uppercase">#{{ objectif.title }}</label>
            </div>
            {% endfor %}
            <button class="w-25 fbCustom-button fbCustom-button--filled mt-4" type="submit">TERMINER</button>
        </section>
    </form>
    <section class="register-contain">
<<<<<<< HEAD
<<<<<<< HEAD
        {#<article>
=======
        <article>
            <h2>VOTRE PROFIL</h2>
            <p>NOM</p>
            <p>Prénom</p>
            <p>Pseudo</p>
            <p>Date de naissance</p>
            <p>e-mail</p>
        </article>

        <article>
>>>>>>> 6045a3bc59fa78b5dde0673842fae5045c54f14b
            <h2>VOS MENSURATIONS</h2>
            <p>175cm</p>
            <p>85kg</p>
        </article>

        <article>
            <h2>VOTRE SPORT</h2>
            <div>
                <img src="/img/inscription/picto inscription/cyclisme.svg" alt="">
                <p>nom du sport</p>
            </div>
        </article>

        <article>
            <h2>FREQUENCES</h2>
            <p><span>2</span> fois par semaine</p>
        </article>

        <article>
            <h2>OBJECTIFS</h2>
<<<<<<< HEAD
            <p>#MAINCIR</p>
        </article>#}
=======
            <p>#MINCIR</p>
        </article>
>>>>>>> 6045a3bc59fa78b5dde0673842fae5045c54f14b
=======
>>>>>>> 61cac2ab72692f1b0f483633c6535f875445f409
    </section>
</main>
{% endblock %}
{% block javascripts %}
<script src="/js/vendor/rangeslider.min.js"></script>
<script src="/js/register.js"></script>
{% endblock %}
